[flake8]
# Set line length to 88 to match black's default
max-line-length = 88
# Ignore these errors, as black handles them:
# E203: whitespace before ':'
# W503: line break before binary operator
# E402: module level import not at top of file (we allow this for local imports)
ignore = E203, W503, E402