# .github/workflows/release-drafter.yml
name: Draft Release

on:
  push:
    branches:
      - main

jobs:
  update_release_draft:
    name: Update Release Draft
    runs-on: ubuntu-latest
    permissions:
      # Required to create and update releases
      contents: write
      # Required to read pull request details
      pull-requests: read
    steps:
      - uses: release-drafter/release-drafter@v6
        with:
          # Use a config file in the repo to keep the workflow file clean
          config-name: release-drafter-config.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}